@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.stopPickup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.stopPickup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.restartPickup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.restartPickup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customerBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customerBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.currentMonthlyBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.currentMonthlyBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.currentMonthlyCharges)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.currentMonthlyCharges)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
    </dl>
</div>
<div class="col-lg-6">
    <div id="map" style="height: 400px; width: 100%;"></div>

    <script>
                    var map;
                    function initMap() {
                        map = new google.maps.Map(document.getElementById("map"), {
                            center: { lat: @Model.Latitude, lng: @Model.Longitude },
                            zoom: 10,
                        });
                        new google.maps.Marker({
                            position: { lat: @Model.Latitude, lng: @Model.Longitude },
                            map,
                        });
                    }
    </script>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
