@model IEnumerable<TrashCollector.Models.Pickup>

@{
    ViewData["Title"] = "Home";
}

<h1>Main Menu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-md">
    <table class="table-secondary">
        <thead>
            <tr>
                <th>
                    <a class="btn btn-primary" asp-action="CreateSinglePickup" asp-route-id="">Create One Time Pickup</a>
                </th>
                <th>
                    <a class="btn btn-primary" asp-action="Suspend" asp-route-id="">Suspend Pickups</a>
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        
        </table>
    </div>
<div class="container-md">
    <h4>Balance Information</h4>
    <table class="table-secondary">
        <thead>
            <tr>
                <th>
                    Total Charges for Current Month: @Html.DisplayNameFor(model => model.Customer.currentMonthlyCharges)
                </th>
                <th>
                    Total Currently Owed for this Month: @Html.DisplayNameFor(model => model.Customer.currentMonthlyBalance)
                </th>
                <th>
                    Total Currently Owed for all Pickups: @Html.DisplayNameFor(model => model.Customer.customerBalance)
                </th>
            </tr>
        </thead>
        <tbody>
                           
                   
                        <tr>

                            <td>
                                
                            </td>
                            <td>
                                
                            </td>

                            <td>
                                
                            </td>
                        </tr>
                 
               
            </tbody>
        </table>
</div>
<div class="container-md">
    <h4>Upcoming Pickups</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ScheduledPickupDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScheduledPickupDate.DayOfWeek)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                @if (item.IsActive)
                    {

                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledPickupDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledPickupDate.DayOfWeek)
                    </td>
                    
                    <td>
                        <a class="btn btn-primary" asp-action="SuspendSingle" asp-route-id="@item.Id">Suspend</a> |
                        @if (!item.IsOneOff) {<a class="btn btn-primary" asp-action="EditPickup" asp-route-id="@item.CustomerId">Change Weekly Pickup Day</a>}
                    </td>
                </tr>
                        }
                    }
        </tbody>
    </table>
</div>
<div class="container-md">
    <h4>Completed Pickups</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ActualPickupDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScheduledPickupDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountCharged)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountPaid)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                @if (item.IsComplete)
                {
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActualPickupDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ScheduledPickupDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountCharged)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountPaid)
                            </td>
                            <td>
                                <a class="btn-danger" asp-action="Edit" asp-route-id="@item.Id">Make Payment</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
<div class="container-md">
    <h4>Suspended Pickups</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ActualPickupDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScheduledPickupDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountCharged)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountPaid)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                @if (item.IsActive == false && item.ScheduledPickupDate.Date >= DateTime.Today)
                {
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActualPickupDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ScheduledPickupDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountCharged)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountPaid)
                            </td>
                            <td>
                                <a class="btn-danger" asp-action="Edit" asp-route-id="@item.Id">Make Payment</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
