@model IEnumerable<TrashCollector.Models.Pickup>

@{
    ViewData["Title"] = "Home";
}

<h1>Main Menu</h1>

<div class="container-md">
    <table class="table-secondary">
        <thead>
            <tr>
                <th>
                    <a class="btn btn-primary" asp-action="CreateSinglePickup" asp-route-id="">Create One Time Pickup</a>
                </th>
                <th>
                    <a class="btn btn-primary" asp-action="Suspend" asp-route-id="">Suspend Pickups</a>
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        
        </table>
    </div>

<div class="container-md">
    <h4>Upcoming Pickups</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ScheduledPickupDate)
                </th>
                <th>
                    Day of the Week
                </th>
                <th>
                    Type of Pickup
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(p => p.IsActive).Where(p => p.ScheduledPickupDate >= DateTime.Today))
                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledPickupDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScheduledPickupDate.DayOfWeek)
                    </td>
                        @if (item.IsOneOff) {  } else { Console.WriteLine("Weekly Pickup"); }
                    <td>
                        <a class="btn btn-primary" asp-action="SuspendSingle" asp-route-id="@item.Id">Suspend this Pickup</a> |
                        @if (!item.IsOneOff) {<a class="btn btn-primary" asp-action="EditPickup" asp-route-id="@item.CustomerId">Change Weekly Pickup Day</a>}
                    </td>
                </tr>
                    }
        </tbody>
    </table>
</div>
<div class="container-md">
    <h4>Completed Pickups</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ActualPickupDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ScheduledPickupDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountCharged)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountPaid)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                @if (item.IsComplete)
                {
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActualPickupDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ScheduledPickupDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountCharged)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountPaid)
                            </td>
                            <td>
                                <a class="btn-danger" asp-action="Edit" asp-route-id="@item.Id">Make Payment</a> |
                                <a asp-action="Details" asp-route-id="@item.Customer.Id">CustomerDetails</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
<div class="container-md">
    <h4>Suspended Pickups</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Originally @Html.DisplayNameFor(model => model.ScheduledPickupDate)
                </th>
                <th>
                   
                </th>
                <th>
                   
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                @if (item.IsActive == false && item.ScheduledPickupDate.Date >= DateTime.Today)
                {
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ScheduledPickupDate)
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                <a class="btn btn-success" asp-action="Reactivate" asp-route-id="@item.Id">Reactivate Pickup</a> 
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
