@model IEnumerable<TrashCollector.Models.Pickup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <h4>Today's Incomplete Pickups</h4>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualPickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledPickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOneOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountCharged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(p => p.IsComplete == false).Where(p => p.ScheduledPickupDate == DateTime.Today)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName) @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualPickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledPickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOneOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountCharged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="CompletePickup" asp-route-id="@item.Id">Mark as Completed</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Customers" asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<table class="table">
    <h4>Today's Completed Pickups</h4>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualPickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledPickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOneOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountCharged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(p => p.IsComplete == true).Where(p => p.ScheduledPickupDate == DateTime.Today))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualPickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledPickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsComplete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOneOff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountCharged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaid)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Customers" asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
